out/,*
qr-short
qr-short.linux
.DS_Store
,*
Issues.md
plan.1
t432z-test-qr/
test.1
set_auth.sh
qr-short
qr-short.linux
test-data/183
test-data/4r
test-data/4t
test-data/4v
test-data/4x
test-data/4z
test-data/51
test-data/54
test-data/55
test-data/56
test-data/57
test-data/58
test-data/59
test-data/5a
test-data/5i
test-data/5j
test-data/5jjj
